.shop-modal{
    position: absolute;
    width: 690px;
    height: 400px;
    background-color: #ffffffe8;
    margin-left: 71px;
    margin-top: 7px;
    border-radius: 5px;

    &-close{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 6px;
        color: #00a1ff;
    }
}